<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
</head>
<body>
 <form action="/submitC" method="post">
     Customer ID:<br>
     <input type="text" name="CID" value="ID number"><br>
     First Name:<br>
     <input type="text" name="fName" value="FirstName"><br>
     Last Name:<br>
     <input type="text" name="lName" value="Lastname"><br>
     Email Address:<br>
     <input type="text" name="email" value="example1@gmail.com"><br>
     Sex:<br>
     <input type="text" name="sex" value="M/F"><br>
     <input type="submit" value="Submit">
 </form>

<br><br><a href="/Employee">Go back</a><br>

</body>
</html>