<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Showing</title>
</head>
<body>
 <form action="/submitS" method="post">
     Showing ID:<br>
     <input type="text" name="SID" value="ID"><br>
     ShowingDate/Time:<br>
     <input type="text" name="SDT" value="2016-00-00 00:00:00"><br>
     Movie ID:<br>
     <input type="text" name="MID" value="ID"><br>
     Theatre room Number:<br>
     <input type="text" name="RID" value="room"><br>
     Ticket Price:<br>
     <input type="text" name="Price" value="0.00"><br>
     <input type="submit" value="Submit">
 </form>
<br><br><a href="/Employee">Go back</a><br>
</body>
</html>