<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Showings</title>
</head>
<body>
    <h1>What kind of Showings are you looking for?</h1>
<br>
        <form action="/" method="post">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Genres
                <span class="caret"></span>
                </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>Action</li>

            </ul>
            </div>
     <input type="text" name="first" value=""> (Optional)<br>
     Change Last Name to:<br>
     <input type="text" name="last" value=""> (Optional)<br>
     Change Email to:<br>
     <input type="text" name="email" value=""> (Optional)<br>
     <input type="submit" value="Submit">
 </form>
<br><br><a href="/customerPage">Go back</a><br>

</body>
</html>