<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
    <h1>This is the Employment user interface to do stuff</h1>

    <h2>Movie options</h2>
    <a href="/movieIndex">View all Movie Information</a><br>
    <a href="/modifyMovie">Modify Movie</a><br>
    <a href="/addMovie">Add Movie</a><br>
    <a href="/deleteMovie">Delete Movie</a><br>

    <h2>Genre Options</h2>
    <a href="/genreIndex">View all Movies in order of Genre</a><br>
    <a href="/addGenre">Add a genre to a Movie</a><br>
    <a href="/deleteGenre">Delete a genre to a Movie</a><br>

    <h2>Room Options</h2>
    <a href="/roomIndex">View all Rooms</a><br>
    <a href="/addRoom">Add a Room</a><br>
    <a href="/deleteRoom">Delete a Room</a><br>
    <a href="/modifyRoom">Modify a Room</a><br>

    <h2>Showings Options</h2>
    <a href="/showingIndex">View all Showing sorted by date</a><br>
    <a href="/addShowing">Add a Showing</a><br>
    <a href="/deleteShowing">Delete a Showing</a><br>
    <a href="/modifyShowing">Modify a Showing</a><br>

    <h2>Customer Options</h2>
    <a href="/customer_index">Customer Information</a><br>
    <a href="/addCustomer">Add a customer</a><br>
    <a href="/deleteCustomer">Delete a customer</a><br>
    <a href="/modifyCustomer">Modify a customer</a><br>

    <h2>Attend</h2>
    <a href="/attendances">View the attendences of customers sorted by rating</a><br>

    <<a href="/">Go back</a><br>
</body>
</html>