<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Showing</title>
</head>
<body>
    <p>Please identify the ID number used for the Showing you wish to Modify.</p>
 <form action="/modifyS" method="post">
     Update on which Showing ID:<br>
     <input type="text" name="SID" value="ID"> (Required)<br>
     Change Date/Time to:<br>
     <input type="text" name="SDT" value=""> (Optional)<br>
     Change Movie ID to:<br>
     <input type="text" name="MID" value=""> (Optional)<br>
     Change Theatre Room to:<br>
     <input type="text" name="room" value=""> (Optional)<br>
     Change Ticket Price to:<br>
     <input type="text" name="TP" value=""> (Optional)<br>
     <input type="submit" value="Submit">
 </form>

<br><br><a href="/Employee">Go back</a><br>
</body>
</html>