<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Room</title>
</head>
<body>
    <p>Please identify the Room Number you wish to Modify.</p>
 <form action="/modifyR" method="post">
     Update on which Room Number:<br>
     <input type="text" name="RID" value="ID"> (Required)<br>
     Change Capacity to:<br>
     <input type="text" name="Cap" value="0-150"> (Optional)<br>
     <input type="submit" value="Submit">
 </form>

<br><br><a href="/Employee">Go back</a><br>
</body>
</html>