<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Customer</title>
</head>
<body>
    <p>Please identify the ID number used for the Customer you wish to Modify.</p>
 <form action="/modifyC" method="post">
     Update on which Customer ID:<br>
     <input type="text" name="CID" value="CID"> (Required)<br>
     Change First Name to:<br>
     <input type="text" name="first" value=""> (Optional)<br>
     Change Last Name to:<br>
     <input type="text" name="last" value=""> (Optional)<br>
     Change Email to:<br>
     <input type="text" name="email" value=""> (Optional)<br>
     <input type="submit" value="Submit">
 </form>

<br><br><a href="/Employee">Go back</a><br>
</body>
</html>