<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Movie</title>
</head>
<body>
    <p>Please identify the Movie ID for the Movie you wish to Modify.</p>
 <form action="/modifyM" method="post">
     Update on which Movie ID:<br>
     <input type="text" name="MID" value="MID"> (Required)<br>
     Change Movie Name to:<br>
     <input type="text" name="mName" value=""> (Optional)<br>
     Change Movie Year to:<br>
     <input type="text" name="year" value=""> (Optional)<br>
     <input type="submit" value="Submit">
 </form>

<br><br><a href="/Employee">Go back</a><br>
</body>
</html>