<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rated</title>
</head>
<body>
    <h1>Select a Showing ID to Rate!</h1>
<form action="/rateS" method="post">
     Showing ID:<br>
     <input type="text" name="SID" value="ID"><br>
     Your Customer ID:<br>
     <input type="text" name="CID" value="ID"><br>
     Your rating of the Showing:<br>
     <input type="text" name="rate" value=""> (1-5)<br>
     <input type="submit" value="RATE!">
 </form>

<br><br><a href="/customerPage">Go back</a><br>
</body>
</html>